{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    About Giock.com
{% endblock %}
{% block content %}
    <div class="small-container">
        <div class="body-contents">
            <div class="mogibe-logo">
                <img src="{% static 'img/open-shop.jpg' %}">
            </div>
            <div class="description">
                <h1>Hello, Here is What You May need to Know about Giock.com!!!!</h1>
            </div>
        </div>
        <div class="mgbhstry">
            <p>Giock.com is a project by Gideon Kirui a students at the univeristy of embu, the project is a class assignment to be submited to his lectuer(Dkt Michael Ndege) a lecturer in the same University. <br> profile for the designer(Gideon Kirui Ochieng) is shown bellow</p>
        </div>
        <div class="designers">
            <h1 id="triop">The Designers</h1>
            <div class="row">
               <div class="col-3">
                 <img src="{% static 'img/my_photo1.jpg' %}">
                 <h3>Gideon Kirui</h3>
                 <hr>
                 <div class="desingner-profile">
                      <p>University of Embu</p>
                      <p>Bsc. InfoTech</p>
                      <p>6-600 Embu Kenya</p>
                      <div class="social-media">
                          <p>Twitter:@thegideon's</p>
                          <p>Facebook: gideon</p>
                          <p>Instagram: gideonkirui_b</p>
                          <p>call: 0712345678</p>
                   </div>
                 </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}