{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Giock.com Help Desk
{% endblock %}
{% block content %}
    <div class="body-Contents">
        <div class="col-2">
            <div class="the-container">
                <h1>Hi! are you wondering about Giock.com?, maybe you can look at some of the foolowing asnswered questions</h1>
                <details>
                    <summary>More about Giock.com</summary>
                    <div class="msg">
                        <p>Giock.com is just a simple web project that has been developed by Gideon Kirui from embu
                            university as an assignment that should be subjected for marking by His Lectuerer
                            the project is an Ecomerce-like site that can be deemed as an online or a mobile shop
                        </p>
                    </div>
                </details>
                <details>
                    <summary>How To Get Started with Giock.com</summary>
                    <p>Getting started is as simple as you just deed. just accesing the link is a good start and you are good to go</p>
                </details>
                <details>
                    <summary> What is needed to get started with Giock.com</summary>
                    <p>Oh! No, you need not to worry so much about this, the is no  big deal with Giock.com, no skills required, just your smartphone and the urge to access a website is enough</p>
                </details>
                <details>
                   <summary>How Does Giock.com operate?</summary>
                   <p>Giock.com is mearly a simple website with a disirable user interface where a visitor to the site can navigate the functionality</p>
                </details>
                <details>
                   <summary>Can I Trust Giock.com?</summary>
                   <p>Actualy there is no need for even having a thought of trusting Giock.com, it has nothing to do with your personal data just navigate the site and thats all, kindly ndo submit your personal data even when asked to ( you may use a invalid data) maybe for test </p>
                </details>
                <details>
                   <summary>Can Someone sell products on Giock.com site?</summary>
                   <p>No! Giock.com is not a genuine site to do any business as at now but if you have an idea on how I can advance the site the fill free to reach me by commenting on the comment area in the footer( I mean the lower part of the site)</p>
                </details>
                <details>
                   <summary>How Can I reach Giock.com customer care?</summary>
                   <p>Oh! sorry there is no service that the site offers as at now but if you fill like there is a gap that Giok.com can fill then kindly don't essitate to reach me</p>
                </details>
                <details>
                   <summary>Where is Giock.located Located?</summary>
                   <p>Giock is a site developed by university of embu student thus its headquaters can be traced to university of embu</p>
                </details>
                <p><a href="#">see more...</a></p>
            </div>
        </div>
    </div>
{% endblock %}